<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
    h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: rgb(20, 10, 87); 
  border-collapse: collapse; 
  border: 2px solid rgb(19, 19, 20)
}
table.inner{
  border: 0px
}
    
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
              
                <table align="center" cellpadding = "15" width="600">
                {% if "login" in f %}
                <h3>Login Here</h3>
                <form action="{% url 'user:login' %}" method="POST">
                    {% csrf_token %}
                 <!-- ------------------email------------------------------------------- -->
                 <tr>
                    <td>EMAIL</td>
                    <td>{{form.email}}
                        {% if form.email.errors %}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                    </tr>
                <!------------------------password---------------------------------------------->
                <tr>
                    <td>PASSWORD</td>
                    <td>{{form.password}}
                        {% if form.password.errors %}
                        <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                    </tr>
                {% else %}
                <h3>Create Here</h3>
                <form action="{% url 'user:signup' %}" method="POST">
                    {% csrf_token %}
                <!-- ------------------username------------------------------------------- -->
                 <tr>
                    <td>EMAIL</td>
                    <td>{{form.email}}
                        {% if form.email.errors %}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                    </tr>
                <!-- ----------------------password-------------------------------------------- -->
                <tr>
                    <td>PASSWORD</td>
                    <td>{{form.passwordreg}}
                        {% if form.passwordreg.errors %}
                        <div class="invalid-feedback">
                        {% for error in form.passwordreg.errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                    </td>
                    </tr>
                <!------------------------confirm password---------------------------------------------->
                    <tr>
                        <td>CONFIRM PASSWORD</td>
                        <td>{{form.cpasswordreg}}
                        </td>
                    </tr>
                {% endif %}
                <!-- --- Submit and Reset ----------------------------------------------- -->
                <tr>
                  <td><button><a href="{% url 'user:home' %}">goback</a> </button></td>
                <td colspan="2" align="center">
                <input class="btn btn-success"type="submit" value="Submit">
                <input class="btn btn-danger"type="reset" value="Reset">
                </td>
                </tr>
                </table>
                 
                </form>
</body>
</html>